@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..100");

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

/* header */
.header {
  background-color: #D7F5B8;
  width: 100vw;
  height: 5vh;
}

.material-symbols-outlined {
  color: #0D0D0D;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* header2 */

.header_two {
  background-color: #D7F5B8;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.drop-down_container {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 150px;
  background-color: #0D0D0D;
  color: white;
  position: absolute;
  left: 90%;
}

#notes {
  color: #D7F5B8;
  margin: 0px;
}

#delete {
  color: #D7F5B8;
  margin: 0px;
  margin-left: 20px;
}

.drop-down-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.drop-down-content-container:hover {
  background-color: #343333;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.drop-down-content-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  padding-bottom: 5px;
}

.drop-down-content-container-2:hover {
  background-color: #343333;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.del {
  padding-top: 2px;
  padding-left: 5px;
}

.list {
  padding: 0px;
}

.icon-hover-bg {
  height: 35px;
  width: 35px;
}

.icon-hover-bg:hover {
  background-color: #e8ebe5;
  mix-blend-mode: multiply;
}

/* home_page */

.home-content {
  /* background-color: #333333; */
  height: 100vh;
  width: 100vw;
}

/* note list */

.your_scribble {
  margin: 10px;
  padding-left: 20px;
  color: #C5F263;
}

.note_list_content_bg {
  background:   #0D0D0D;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.note_item_container {
  list-style-type: none;
}

.note_item_container li {
  color: white;
  height: 150px;
  width: 500px;
  background-color: #242621;
  border: 1px solid #C5F263;
  border-radius: 5px 0px 5px 0;
}

.container_note {
  max-height: 100%;
  overflow-y: auto;
}

/* note_editor */

.editor_textarea {
  background-color: #333333;
  height: 100vh;
  width: 100vw;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  border: none;
  outline: none;
}
