@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..100");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.App {
  background-color: #1c1c1c;
}

/* header */
.header {
  background-color: #6fb1fc;
  width: 100vw;
  height: 5vh;
}

.material-symbols-outlined {
  color: #1c1c1c;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* header2 */

.header_two {
  background-color: #6fb1fc;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.drop-down_container {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 150px;
  background-color: #0d0d0d;
  color: white;
  position: absolute;
  left: 90%;
}

.drop-down-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.drop-down-content-container:hover {
  background-color: #343333;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.drop-down-content-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  padding-bottom: 5px;
}

.drop-down-content-container-2:hover {
  background-color: #343333;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.del {
  padding-top: 2px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.list {
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.icon-hover-bg {
  height: 35px;
  width: 35px;
}

.icon-hover-bg:hover {
  background-color: #e8ebe5;
  mix-blend-mode: multiply;
}

/* home_page */

.home-content {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 100px;
  width: 100px;
  color: #d7f5b8;
}

.wrapper {
  background: #1c1c1c;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.word-mark-logo {
  color: #6fb1fc;
  font-family: Inter;
  font-size: 100;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}

.startScribbling {
  width: 120px;
  height: 40px;
  background: none;
  border: 1px solid #6fb1fc;
  border-radius: 8px;
  color: #f5f5f5;
  font-family: Inter;
  font-size: 14px;
  margin-top: 190px;
}

.scribble-animation {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: scribble 3s ease-in-out forwards infinite;
}

@keyframes scribble {
  to {
    stroke-dashoffset: 0;
  }
}

/* note list */

.your_scribble {
  padding-left: 29px;
  padding-top: 10px;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.6em;
  margin: 0px;
}

.search_bar {
  width: 500px;
  height: 18px;
  border: 0.75px solid #151515;
  border-radius: 3px;
  background-color: #333333;
  padding: 10px;
  font-size: 16px;
  color: #f5f5f5;
}

#search-icon {
  color: #707070;
  position: relative;
  top: 5px;
  left: 500px;
}

.note_list_content_bg {
  background: #0d0d0d;
  height: 100vh;
  width: 100vw;
}

.top-left {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: 20px solid rgb(56, 54, 54);
  border-right: 20px solid #0d0d0d;
  border-bottom: 20px solid #0d0d0d;
  border-left: 20px solid rgb(56, 54, 54);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
}

.note_item_container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.note_item_container li {
  position: relative;
  height: 200px;
  width: 500px;
  background-color: #f5f5f5;
  font-family: Roboto;
  border-radius: 3px;
  word-break: break-all;
  margin-left: 30px;
  padding-left: 0px;
  padding: 10px;
  overflow: hidden;
}

li:hover {
  .top-left {
    display: none;
  }
}

.note_item_container li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.container_note {
  max-height: 100%;
  overflow-y: auto;
}

ul {
  position: relative;
}

[id^="note_list_more_icon_"] {
  color: #1c1c1c;
  cursor: pointer;
  margin-top: 0px;
  position: absolute;
  top: 0;
  right: 0;
}

.note_list_drop_container {
  width: 145px;
  height: 82px;
  background-color: #d7f5b8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 34%;
  bottom: 28%;
  border-radius: 3px;
  overflow: hidden;
}

.note_list_drop_container_one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-right: 20px; */
  width: 145px;
  height: 41px;
  cursor: pointer;
}

.note_list_drop_container_one:hover {
  background-color: #cbc8c8;
  mix-blend-mode: multiply;
}

.edit-note {
  font-family: Roboto;
  font-weight: 400;
  color: #0d0d0d;
}

.delete-note {
  font-family: Roboto;
  font-weight: 400;
  color: #0d0d0d;
}

.note_list_drop_container_two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 145px;
  height: 41px;
}

.note_list_drop_container_two:hover {
  background-color: #d9d6d6;
  mix-blend-mode: multiply;
}

.ql-toolbar.ql-snow {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-top: 1px solid #5a5959 !important;
  background-color: #181818;
  padding: 8px;
  position: absolute;
  font-family: Roboto !important;
  font-weight: 100 !important;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  position: fixed !important;
}

.ql-formats {
  margin: auto !important;
}

.ql-toolbar button .ql-stroke,
.ql-toolbar button .ql-fill {
  stroke: #ebfadc !important;
  transition: stroke 0.1s ease, fill 0.3s ease;
}

.ql-toolbar button:hover .ql-stroke {
  stroke: rgb(197, 242, 99) !important;
}

.ql-toolbar button:hover .ql-fill {
  fill: rgb(197, 242, 99) !important;
}

.ql-toolbar button {
  margin: 0 10px;
}

.ql-editor {
  background-color: #1c1c1c;
  height: 100vh !important;
  font-family: Roboto !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #f5f5f5;
  border: none !important;
  outline: none !important;
  padding-top: 50px !important;
  box-sizing: border-box !important;
  overflow: auto !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #333333; 
  color: #333;
}

::-moz-selection {
  background-color: #333333;
  color: #333;
}


.ql-container.ql-snow {
  border: none !important;
}

.preview {
  height: 50vh;
  width: 200vw;
  background-color: #c5f263;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 30%;
}

/* Drop-down styling */
.drop-down_container {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #d7f5b8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 2px;
}

.drop-down-content-container,
.drop-down-content-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 0px;
}

#notes,
#delete {
  color: #292828;
}

.drop-down-content-container:hover,
.drop-down-content-container-2:hover {
  background-color: #ababab;
  mix-blend-mode: multiply;
}

.del,
.list,
.edit-note,
.delete-note {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #292828;
}
