@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..100");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

/* header */
.header {
  background-color: #d7f5b8;
  width: 100vw;
  height: 5vh;
}

.material-symbols-outlined {
  color: #0d0d0d;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}

/* header2 */

.header_two {
  background-color: #d7f5b8;
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
}

.drop-down_container {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 150px;
  background-color: #0d0d0d;
  color: white;
  position: absolute;
  left: 90%;
}

#notes {
  color: #d7f5b8;
  margin: 0px;
}

#delete {
  color: #d7f5b8;
  margin: 0px;
  margin-left: 20px;
}

.drop-down-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
}

.drop-down-content-container:hover {
  background-color: #343333;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.drop-down-content-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 150px;
  height: 40px;
  padding-bottom: 5px;
}

.drop-down-content-container-2:hover {
  background-color: #343333;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.del {
  padding-top: 2px;
  padding-left: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.list {
  padding: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.icon-hover-bg {
  height: 35px;
  width: 35px;
}

.icon-hover-bg:hover {
  background-color: #e8ebe5;
  mix-blend-mode: multiply;
}

/* home_page */

.home-content {
  /* background-color: #333333; */
  height: 100vh;
  width: 100vw;
}

/* note list */

.your_scribble {
  margin: 10px;
  padding-left: 20px;
  color: #f9ffed;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.note_list_content_bg {
  background: #0d0d0d;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.note_item_container {
  list-style-type: none;
}

.note_item_container li {
  position: relative;
  color: white;
  height: 100px;
  width: 500px;
  background-color: #242621;
  border: 1px solid #c5f263;
  border-radius: 5px 0px 5px 0;
  word-break: break-all;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
  overflow: hidden;
}

li:hover {
  background-color: #e8e8e833;
}

.container_note {
  max-height: 100%;
  overflow-y: auto;
}

ul {
  position: relative;
}

[id^="note_list_more_icon_"] {
  color: #e8ebe5;
  position: absolute;
  left: 36%;
  bottom: 80%;
  cursor: pointer;
  margin: auto;
}

.note_list_drop_container {
  width: 145px;
  height: 82px;
  background-color: #d7f5b8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 34%;
  bottom: 28%;
  border-radius: 3px;
  overflow: hidden;
}

.note_list_drop_container_one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-right: 20px; */
  width: 145px;
  height: 41px;
  cursor: pointer;
}

.note_list_drop_container_one:hover {
  background-color: #cbc8c8;
  mix-blend-mode: multiply;
}

.edit-note {
  font-family: Roboto;
  font-weight: 400;
}

.delete-note {
  font-family: Roboto;
  font-weight: 400;
}

.note_list_drop_container_two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* margin-right: 6px; */
  width: 145px;
  height: 41px;
}

.note_list_drop_container_two:hover {
  background-color: #d9d6d6;
  mix-blend-mode: multiply;
}

/* note_editor */

/* .editor_textarea {
  background-color: #333333;
  height: 100vh;
  width: 100vw;
  font-family: Roboto;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  border: none;
  outline: none;
}  */

.ql-toolbar.ql-snow {
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  border-top: 1px solid #706d6d !important;
  background-color: #3d3d3d;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(87, 87, 87, 0.1);
  position: absolute;
  font-family: Roboto !important;
  font-weight: 100 !important;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.ql-formats{
  margin: auto !important;
}

.ql-toolbar button .ql-stroke,
.ql-toolbar button .ql-fill {
  stroke: #ebfadc !important;
  transition: stroke 0.1s ease, fill 0.3s ease;
}


.ql-toolbar button:hover .ql-stroke {
  stroke: rgb(197, 242, 99) !important;
}

.ql-toolbar button:hover .ql-fill {
  fill: rgb(197, 242, 99) !important;
}

.ql-toolbar button {
  margin: 0 10px;
}

.ql-editor {
  background-color: #292828;
  height: 100vh !important;
  font-family: Roboto !important;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  border: none !important;
  outline: none !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.preview{
  height: 50vh;
  width: 200vw;
  background-color: #c5f263;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 30%;
}
